:root {
  --swiper-theme-color: #007aff;
}

@import "../fonts/dream.ttf";
@import "../fonts/zizou-slab-bold.otf";
@import "../fonts/zizou-slab-medium.otf";
@import "../fonts/zizou-slab-regular.otf";

@font-face {
  font-family: "dream";
  src: url("../fonts/dream.ttf");
}
@font-face {
  font-family: "zizou";
  src: url("../fonts/zizou-slab-bold.otf");
}
html,
body {
  background-color: #eaefe1;
  font-family: "zizou";
}

img {
  max-width: 100%;
}

.text-red {
  color: #fd0807;
}

.text-green {
  color: #55a122;
}

.text-orange {
  color: #e89301;
}

.text-leemon-green {
  color: #b7db3e;
}

.icon img {
  width: 100%;
  max-width: 50px;
}

button,
.collapse {
  position: relative;
  z-index: 40;
}

.bg-top-header {
  position: absolute;
  width: 500px;
  height: 105px;
  right: 0;
  top: 0;
  transform: rotate(180deg);
  /* min-height: 5rem; */
  /* min-width: 25rem; */
}

.purchase {
  position: relative;
  z-index: 2;
}
.purchase img {
  width: 2rem;
}

.card h2 {
  font-family: "dream";
  font-size: 4rem;
}

.service {
  position: relative;
}

.service div {
  background-color: white;
  position: absolute;
  top: -15%;
  /* z-index: -10; */
}

.service p {
  font-family: "zizou";
  font-size: 1.4em;
}

footer {
  margin-top: 2em;
  position: relative;
}

.bg-footer {
  position: absolute;
  width: 100%;
  height: 100px;
}

.social-media {
  position: relative;
  top: 1rem;
}
footer h2,
footer p {
  position: relative;
  text-align: center;
  color: #fff;
  margin: 0;
}
footer > h2 {
  font-size: 1.2rem;
  padding-top: 1em;
}
.find {
  background-color: #b7db3e;
}
.find .find-icon {
  padding-top: 1em;
  width: 70px;
}
footer p {
  background-color: #b7db3e;
  padding-top: 0.5em;
  padding-bottom: 2em;
  font-size: 1em;
}

footer .d-flex:last-child {
  background-color: #b7db3e;
}

footer .derechos {
  padding: 0;
}

footer ul {
  margin: 0;
}

footer ul li {
  list-style: none;
}

footer ul li a {
  font-size: 1rem;
  color: #fff;
}

.nav-item {
  font-family: "zizou";
  font-size: 1.5em;
}

.position-top {
  background-color: white;
  position: absolute;
  top: -2.5rem;
}

.position-top img {
  /* position: absolute; */
  margin: 0 !important;
  top: 0;
}

@media (min-width: 768px) {
  .position-top {
    position: initial;
  }
}

@media (min-width: 992px) {
  footer > h2 {
    padding-top: 3em;
  }
  .icon img {
    max-width: 100px;
  }
  .bg-top-header {
    width: 1000px;
    height: 200px;
  }
  .navbar-expand-lg .navbar-nav {
    justify-content: center;
    min-width: 100%;
  }
}
